h3 {{ point.get_detail_info }}
{{ form.comment }}
input(type="button", id="submit-pointcomment", value="New Comment")

div.comments
  {% for comment in comments %}
  div.comment(id="{{comment.id}}")
    p Created on {{ comment.created }}
      i.fa.fa-times.comment-delete
    p {{ comment.comment }}
  {% endfor %}