{% extends 'profiling/roastprofile_detail.jade' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
link(href="{% static 'css/qunit-1.15.0.css' %}", rel='stylesheet', type='text/css')
{% endblock css %}

{% block javascripts %}
{{ block.super }}

script
  function tearDown() {
    // TODO: Delete the parent coffee too...
    var roastprofile = new RoastProfile();
    crudURL.roastProfile.delete = "{% url 'ajax-roastprofile-delete' %}";
    roastprofile.crudURL = crudURL.roastProfile;
    roastprofile.id = {{object.id}};
    roastprofile.delete()
  }
  $(document).ready( function() {
    tearDown();
  })
script(src="{% static 'javascripts/qunit-1.15.0.js' %}")

{% endblock javascripts %}