{% extends 'base.jade' %}
{% load staticfiles %}

{% block content %}

h3 List of Coffees

h3 
  ul
    li
      a(href="{% url 'coffee-new' %}") Input a New Coffee or Blend

ul
  {% for coffee in coffee_list %}
  li
    a(href="{% url 'coffeeroastprofile-list' coffee.id %}") {{ coffee }}
  {% endfor %}

{% endblock content %}