{% extends 'base.jade' %}
{% load staticfiles %}

{% block css %}
link(href='{% static "css/object/object_list.css" %}', rel='stylesheet', type='text/css', media='screen')
{% endblock css %}

{% block content %}

h3 List of Coffees

h3 
  ul
    li
      a(href="{% url 'coffee-new' %}") Input a New Coffee or Blend

ul
  {% for coffee in coffee_list %}
  li(id="id_object_{{coffee.id}}")
    i.fa.fa-times.object-delete(id="{{coffee.id}}", title="Delete Coffee")
    a(href="{% url 'coffeeroastprofile-list' coffee.id %}") {{ coffee }}
  {% endfor %}

{% endblock content %}

{% block javascripts %}
// TODO: This script should be an include. with object=object?
script
  var objectInfo = {
    'name': "{{ objectClassName }}",
    'module': "{{ objectClassModule }}",
    'deleteURL': "{% url 'ajax-object-delete' %}",
  }
script(src="{% static 'javascripts/ajaxModels/setupAjax.js' %}")
script(src="{% static 'javascripts/object/object_list.js' %}")
{% endblock javascripts %}