.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#profile-chart .nv-lineChart circle.nv-point.has-comments
{
    fill-opacity: 1;
    fill: red;
}

/* This does not work.  ? */
#profile-chart .nv-lineChart circle:hover {
	cursor: pointer;
}